*{
       box-shadow: border-box;
       /*font-family: Arial, Helvetica, sans-serif;*/
}
p, h1, h2, h3,table,a,dt, dd{
       font-family: Arial, Helvetica, sans-serif;       
}
h3{font-size: 21px;}
body{
       margin: 0;
}
p.footer{
       text-align: justify;
}
p,dt,dd{
       font-size: 20px;
       text-align: justify;
}
p.author{font-size: 17px;}

pre, code{
       font-size: 18px;
}
pre.type1{
       border: 1px solid black;
       padding: 10px;
}
pre.type2{
       border: 3px inset;
       padding: 10px;
       background-color: #e5e7e9;
       white-space: pre-wrap;
}
pre.type3{
       border: 3px inset;
       padding: 10px;
       background-color: #000000; 
       color: white;
}
table, td, th{
       border: 1px solid;
       border-collapse: collapse;
       font-size: 20px;
}
td, th{
       padding: 5px;
}
img.center{
       display: block;
       margin-left: auto;
       margin-right: auto;
}
.topnav{
       overflow: hidden;
       background-color:  #283747;
       text-align: center;
}
.topnav a{
       float: left;
       display: block;
       color: white;
       text-align: center;
       font-size: 20px;
       padding: 15px 18px;
       text-decoration: none;
}
.topnav a:hover{
       background-color:  #85c1e9 ;
       color: #17202a;
}

.header{
       background-color:  #e5e7e9 ;
       padding: 20px;
       text-align: center;
}
.column{
       float: left;
       padding: 10px;
       
}
.column.side{
       width: 25%;
}
.column.side.left{
       position:sticky;
       top:10px;
       border: 1px solid lightgray;
       margin: 10px;
}
.column.middle{
       width: 50%;       
}
.row:after{
       content: "";
       display: table;
       clear: both;
}
.footer{
       border-top: 1px solid black;       
}
.footer p{
       text-align: center;
}
ky{color: blue;}
v{color: orangered;}
des{color: green;}
.subtopic-link{
       display: block;
       font-size: 20px;
       text-decoration: none;
       padding:15px 18px;
       color: #000;

}
.subtopic-link:hover{
       background-color:#e5e7e9;
       transition: 0.2s;
       color: purple;
       border-left: 3px solid blue;
}
#topBtn{
       position: fixed; bottom: 10px;right: 10px;
       background-color: #283747; padding: 15px;
       font-size: 19px;
       border-radius: 10px; color: white;
       opacity: 0.6;
}
#topBtn:hover{
       background-color: #85c1e9;color: #17202a;
}

.content{
       height: 566px; 
       border:1px solid lightgray;
       padding: 0px 20px; 
       text-align:justify;
}

@media screen and (max-width: 1000px) {
  .column.side {   
    width: 5%;
    padding: 0;
   
  }
  .column.side.left{
       display: none;
  }
    .column.middle {   
    width: 95%;
    padding: 10px;
  }
}