*{
       box-shadow: border-box;
       /*font-family: Arial, Helvetica, sans-serif;*/
}
body{
       margin: 0;
}
p.footer{
       text-align: justify;
}
pre{
       font-size: 15px;
}
pre.type1{
       border: 1px solid black;
       padding: 5px;
}
pre.type2{
       border: 1px solid;
       padding: 5px;
       background-color: #e5e7e9;
}
table, td, th{
       border: 1px solid;
       border-collapse: collapse;
}
td, th{
       padding: 5px;
}
.topnav{
       overflow: hidden;
       background-color:  #283747;
       text-align: center;
}
.topnav a{
       float: left;
       display: block;
       color: white;
       text-align: center;
       padding: 15px 18px;
       text-decoration: none;
}
.topnav a:hover{
       background-color:  #85c1e9 ;
       color: #17202a;
}

.header{
       background-color:  #e5e7e9 ;
       padding: 20px;
       text-align: center;
}
.column{
       float: left;
       padding: 10px;
       
}
.column.side{
       width: 25%;
}
.column.middle{
       width: 50%;       
}
.row:after{
       content: "";
       display: table;
       clear: both;
}

.footer{
       border-top: 1px solid black;
       text-align: center;
}

ky{
       color: blue;
}
v{
       color: orangered;
}
des{
       color: green;
}
#topBtn{
       position: fixed; bottom: 10px;right: 10px;
       background-color: #283747; padding: 15px;
       font-size: 19px;
       border-radius: 10px; color: white;
       opacity: 0.6;
}
#topBtn:hover{
       background-color: #85c1e9;color: #17202a;
}

@media screen and (max-width: 1000px) {
  .column.side {   
    width: 5%;
    padding: 0;
  }
    .column.middle {   
    width: 95%;
    padding: 10px;
  }
}
